/*==============================================
        Basic Properties Starts
===============================================*/
/*body{*/
    /*height: 2000px;*/
/*}*/

*{
    margin:     0;
    padding:    0;
}

/* Style For Navigation  Menus */

.navbar
{
    padding: 22px 0;
    /*background-color: #34495E !important;*/
    border-bottom: none !important;
    transition: all 0.5s ease-out;
}

.navbar ul li a
{
    color: #FFFF !important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 13px;
    transition: all 0.5s ease-in;
}

.navbar ul li a:hover
{
    color: #00BFFF !important;
    background: none !important;
}

.icon-bar{
    color: #FFF !important;
    background-color: #FFF !important;
}

.navbar-toggle
{
    border: 1px solid #FFF !important;
    color:  #FFF !important;
    transition: all 0.5s ease-in;
}

.navbar-toggle:hover{color: #00BFFF !important; }


.navbar-inverse .navbar-collapse
{
    border-color: transparent !important;
}

.navbar-inverse {  background-color: transparent; !important; }


/* Style Location */

.location
{
    border:1px solid #FFF;
        border-radius: 50px;
}

/* SLIDER SECTION */

.slider{
    width:100%;
    height:700px;
    background-image: url(../image/slider.jpg);
    background-size: cover;
    background-position: center;
    color:  #FFF;
}

.slider-overlay
{
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.66);
    position: relative;
}

.slider-content
{
    position: absolute;
    top:39%;
    width:100%;
}

.icons .fab
{
    font-size: 35px;

}

.cta-div{
    margin-top: 30px;
    margin-right:-10px;
}

.cta-div .btn1
{
    padding:13px 18px;
    background-color: transparent;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing:1px;
    font-size:13px;
    border: 2px solid #FFF;
    border-top-left-radius:15px;
    transition:  all 0.5s ease-in;
    margin-right: -6px;

}

.cta-div .btn1:hover
{
    text-decoration: none;
    color: #FFF;
    background-color: #00BFFF;
    border-color: #00BFFF;

}

.cta-div .btn2
{
    padding:13px 18px;
    background-color: transparent;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing:1px;
    font-size:13px;
    border: 2px solid #FFF;
    border-top-right-radius:15px;
    transition:  all 0.5s ease-in;
    margin-right:10px;

}

.cta-div .btn2:hover
{
    text-decoration: none;
    color: #FFF;
    background-color: #FF4500;
    border-color: #FF4500;
}

.social-networks a.fab
{
    border:1px solid #FFF;
    padding:10px;
    color: #FFF;
    width:35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 2px;
    transition: all 0.5s ease-in;
}

.social-networks a.fab:hover
{
    background-color: #00BFFF;
    text-decoration: none;
    color: #FFF;
    border:1px solid #00BFFF;
}

.slider .text, .slider .typed-cursor{
    display: inline;
    font-size: 50px;
    text-transform: uppercase;
}

.primary{
    color: #FF4500;
}

.typed-cursor
{
    opacity: 1;
    animation: blink 0.7s infinite;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
}


.secondary{
    background-color: #34495E;
}


/*SERVICES AREA */

.service-area{
    margin-top:30px;
}

.service-area p{
    margin-bottom: -5px;
}
.service-wrap
{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    padding:25px 35px;
    position: relative;
    transition: all 0.5s ease 0s;
    z-index: 9;
    margin-top:20px;
}
.service-wrap::before, .service-wrap::after{
    content: "";
    height:300%;
    position: absolute;
    transform: rotate(45deg);
    width:120%;
    z-index: -9;
    transition: all 0.5s ease 0s;
    opacity: 0;
    background: #34495E;
}

.service-wrap::before{
   top:  -37%;
    left:100%;
}

.service-wrap:hover:before{
    left:   -27px;
    opacity: 1;
}


.service-wrap::after{
    right: 100%;
    bottom: -37px;
}

.service-wrap:hover:after{
    right: -27%;
    opacity: 1;
}

.service-wrap:hover{
    color: #FFF;
}


.service-wrap h3{
    color: #FFF;
}

.service-wrap:hover h3{
    color: #FFF;
}

.service-wrap:hover h3:after{
    background: #FFF;
}

.service-icon i{
    font-size: 30px;
    margin-bottom: 20px;
    transition:  all 0.5s;
}

.service-wrap:hover .service-icon i{
  transform: rotate(360deg);
}



.service-wrap:hover  h3{
    font-size: 25px;
    font-weight:700;
    padding-bottom:15px;
    position: relative;
}

.service-wrap p{
    font-size:14px;
    margin-bottom:0;
}


/*WORKS SECTION*/

.work{margin-top: 25px;}

.row.no-gutters [class*=col]
{
    padding-left: 0;
    padding-right: 0;
}

.image-wrapper{
    overflow: hidden;
}

.image-wrapper img{
    transition: transform 0.5s ease;
    width:100%;
}


.image-wrapper img:hover{
    transform:  scale(1.5);
    cursor: zoom-in;
}

/*TEAM SECTION AREA*/
.team-text{text-align: center;}
.team-area{ margin-top:50px;}
.team-member{margin:15px 25px;}

.team-member-info{padding:10px 0 30px;}
h4.team-member-name
{
    font-size:19px;
    font-weight:700;
    letter-spacing:1px;
    padding-top:2px;
}

h4.team-member-designation{
    color: #34C6D3;
    font-size:15px;
    font-weight:700;
    letter-spacing:1px;
    margin-top:5px;
    text-transform:  capitalize;
}

.social-list{ padding-left:0;}
.social-list.social-list li{
    list-style: none;
    display: inline-block;
    width:32px;
    height:32px;
    margin-right:6px;
    margin-top:10px;
}

.social-list.social-list i{ font-size:17px;}

.icon-gray{ color: #64707B}








































