/*==============================================
        Basic Properties Starts
===============================================*/
/*body{*/
    /*height: 2000px;*/
/*}*/

body{ overflow-x: hidden;}

*{
    margin:     0;
    padding:    0;
}

/* Style For Navigation  Menus */

.navbar
{
    padding: 22px 0;
    /*background-color: #34495E !important;*/
    border-bottom: none !important;
    transition: all 0.5s ease-out;
}

.navbar ul li a
{
    color: #FFFF !important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 13px;
    transition: all 0.5s ease-in;
}

.navbar ul li a:hover
{
    color: #00BFFF !important;
    background: none !important;
}

.icon-bar{
    color: #FFF !important;
    background-color: #FFF !important;
}

.navbar-toggle
{
    border: 1px solid #FFF !important;
    color:  #FFF !important;
    transition: all 0.5s ease-in;
}

.navbar-toggle:hover{color: #00BFFF !important; }


.navbar-inverse .navbar-collapse
{
    border-color: transparent !important;
}

.navbar-inverse {  background-color: transparent; !important; }


/* Style Location */

.location
{
    border:1px solid #FFF;
        border-radius: 50px;
}

/* SLIDER SECTION */

.slider{
    width:100%;
    height:700px;
    background-image: url(../image/slider.jpg);
    background-size: cover;
    background-position: center;
    color:  #FFF;
}

.slider-overlay
{
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.66);
    position: relative;
}

.slider-content
{
    position: absolute;
    top:39%;
    width:100%;
}

.icons .fab
{
    font-size: 35px;

}

.cta-div{
    margin-top: 30px;
    margin-right:-10px;
}

.cta-div .btn1
{
    padding:13px 18px;
    background-color: transparent;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing:1px;
    font-size:13px;
    border: 2px solid #FFF;
    border-top-left-radius:15px;
    transition:  all 0.5s ease-in;
    margin-right: -6px;

}

.cta-div .btn1:hover
{
    text-decoration: none;
    color: #FFF;
    background-color: #00BFFF;
    border-color: #00BFFF;

}

.cta-div .btn2
{
    padding:13px 18px;
    background-color: transparent;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing:1px;
    font-size:13px;
    border: 2px solid #FFF;
    border-top-right-radius:15px;
    transition:  all 0.5s ease-in;
    margin-right:10px;

}

.cta-div .btn2:hover
{
    text-decoration: none;
    color: #FFF;
    background-color: #FF4500;
    border-color: #FF4500;
}

.social-networks a.fab
{
    border:1px solid #FFF;
    padding:10px;
    color: #FFF;
    width:35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 2px;
    transition: all 0.5s ease-in;
}

.social-networks a.fab:hover
{
    background-color: #00BFFF;
    text-decoration: none;
    color: #FFF;
    border:1px solid #00BFFF;
}

.slider .text, .slider .typed-cursor{
    display: inline;
    font-size: 50px;
    text-transform: uppercase;
}

.primary{
    color: #FF4500;
}

.typed-cursor
{
    opacity: 1;
    animation: blink 0.7s infinite;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
}


.secondary{
    background-color: #34495E;
}


/*SERVICES AREA */

.service-area{
    margin-top:30px;
}

.service-area p{
    margin-bottom: -5px;
}
.service-wrap
{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    padding:25px 35px;
    position: relative;
    transition: all 0.5s ease 0s;
    z-index: 9;
    margin-top:20px;
}
.service-wrap::before, .service-wrap::after{
    content: "";
    height:300%;
    position: absolute;
    transform: rotate(45deg);
    width:120%;
    z-index: -9;
    transition: all 0.5s ease 0s;
    opacity: 0;
    background: #34495E;
}

.service-wrap::before{
   top:  -37%;
    left:100%;
}

.service-wrap:hover:before{
    left:   -27px;
    opacity: 1;
}


.service-wrap::after{
    right: 100%;
    bottom: -37px;
}

.service-wrap:hover:after{
    right: -27%;
    opacity: 1;
}

.service-wrap:hover{
    color: #FFF;
}


.service-wrap h3{
    color: #FFF;
}

.service-wrap:hover h3{
    color: #FFF;
}

.service-wrap:hover h3:after{
    background: #FFF;
}

.service-icon i{
    font-size: 30px;
    margin-bottom: 20px;
    transition:  all 0.5s;
}

.service-wrap:hover .service-icon i{
  transform: rotate(360deg);
}



.service-wrap:hover  h3{
    font-size: 25px;
    font-weight:700;
    padding-bottom:15px;
    position: relative;
}

.service-wrap p{
    font-size:14px;
    margin-bottom:0;
}


/*WORKS SECTION*/

.work{margin-top: 25px;}

.row.no-gutters [class*=col]
{
    padding-left: 0;
    padding-right: 0;
}

.image-wrapper{
    overflow: hidden;
}

.image-wrapper img{
    transition: transform 0.5s ease;
    width:100%;
}


.image-wrapper img:hover{
    transform:  scale(1.5);
    cursor: zoom-in;
}

/*TEAM SECTION AREA*/
.team-text{text-align: center;}
.team-area{ margin-top:50px;}
.team-member{margin:15px 25px;}

.team-member-info{padding:10px 0 30px;}
h4.team-member-name
{
    font-size:19px;
    font-weight:700;
    letter-spacing:1px;
    padding-top:2px;
}

h4.team-member-designation{
    color: #34C6D3;
    font-size:15px;
    font-weight:700;
    letter-spacing:1px;
    margin-top:5px;
    text-transform:  capitalize;
}

.social-list{ padding-left:0;}
.social-list.social-list li{
    list-style: none;
    display: inline-block;
    width:32px;
    height:32px;
    margin-right:6px;
    margin-top:10px;
}

.social-list.social-list i{ font-size:17px;}

.icon-gray{ color: #64707B}

/*Testimonials SECTION*/
.carousel-inner img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border:  3px solid #FFF;
    padding:5px;
}

.testimonials-area {
    background-image: url(../image/reviews.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    color: #FFF;
    padding-top: 80px;
    padding-bottom:155px;
}

.testimonials-area .carousel-indicators {  bottom: -60px;  }
.border-bottom
{
    width: 40px;
    height:2px;
    background-color: #FFF;
    margin:0 auto;
}

.carousel-inner p
{
    font-size:17px;
    font-weight:normal;
    letter-spacing:1px;
    margin-top:30px;
}


/*FQA SECTION*/

.fqa-area{margin-top:50px;}

#accordian .panel
{
    box-shadow: none;
    border:none;
    border-radius: 10px;
    margin-bottom: 10px;
}

#accordian .panel-heading
{
    padding:0;
    border:none;
    border-radius: 10px;
}

#accordian .panel-title a
{
    display: block;
    padding:25px 35px;
    font-size:20px;
    font-weight:600;
    color: #FFF;
    background: #34495E;
    border:none;
    position: relative;
    transition: all 0.3s ease 0s;
}

#accordian .panel-title a:after,
#accordian .panel-title a.collapsed:after
{
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    width:40px;
    height:40px;
    line-height:32px;
    border-radius: 50%;
    background: #34495E;
    text-align: center;
    font-size:15px;
    color: #FFF;
    border:5px solid #FFF;
    position: absolute;
    top:10px;
    left:-20px;
    transition: all 0.3s ease 0s;
}

#accordian .panel-title a.collapsed:after {  content: "\f067"; }
#accordian .panel-title a:hover:after,
#accordian .panel-title a.collapsed:hover:after {  transform:  rotate(360deg); }

#accordian .panel-body
{
    padding:15px 25px;
    background-color: #EBEBEB;
    font-size:14px;
    color: #8C8C8C;
    line-height:25px;
    border-top:none;
    position: relative;
}

.panel-heading a
{
    text-decoration: none !important;
    font-size:15px !important;
    font-weight:normal;
}

.freeimage img {margin-top:-45px;  }



/*Video SECTION AREA*/
.video-area
{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,.0,0.7)), url(../image/video.jpg);
    padding-top:100%;
    padding-bottom:100px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    margin-top:40px;
    background-attachment: fixed;
}

.play
{
    background:#FFF url(../image/play-btn.png) 60% 50%;
    background-repeat: no-repeat;
    width:110px;
    height:110px;
    border-radius: 50%;
    display: inline-block;
    margin-top:70px;
    margin-bottom:40px;
    box-shadow: 0 0 0  20px rgba(0,167,221,0.5);
    -webkit-box-shadow: 0 0 0  20px rgba(0,167,221,0.5);
    -moz-box-shadow: 0 0 0  20px rgba(0,167,221,0.5);
    -o-box-shadow: 0 0 0  20px rgba(0,167,221,0.5);
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}

.play:hover
{
    box-shadow: 0 0 15px 20px rgba(0,84,111,0.5);
    -webkit-box-shadow: 0 0 15px 20px rgba(0,84,111,0.5);
    -moz-box-shadow: 0 0 15px 20px rgba(0,84,111,0.5);
}

.video-container
{
    position: relative;
    padding-bottom:54.25%;
    padding-top: 30px;
    height:0;
    overflow: hidden;
    display: none;
}

/*BLOG SECTION AREA*/

.latest-news-area{margin-top:40px;}
.latest-news-wrap {box-shadow: 0 3px 10px rgba(0,0,0,0.1);}
.news-img{
    position: relative;
}

.news-img:before
{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: #000;
    content: "";
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s;
}

.latest-news-wrap:hover .news-img:before
{
    opacity: .5;
    transform: scale(1);
}
.date
{
    background: #F89406 none repeat scroll 0 0 ;
    width:70px;
    height:70px;
    left:0;
    top:0;
    position: absolute;
    text-align: center;
    padding:10px;
}
.date span {
    display: block;
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
}

.news-content
{
    padding:20px;
    margin-left:-20px;
}

.news-content i{
    font-size:18px;
    display: inline-block;
}

.news-content .fab
{
    padding:10px 10px;
    cursor: pointer;
}

.news-content .fa-facebook{color: #3B5995}
.news-content .fa-twitter{color: #0084B4}
.news-content .fa-linkedin{color: #0077B5}
.news-content .fa-youtube{color: #FF0000}
.news-content .fa-whatsapp{color: #34AF23}

.news-content p
{
    margin-bottom:15px;
    text-align: justify;
    margin-top:20px;
}

.news-content a
{
    font-size:14px;
    background-color: #34495E;
    padding:10px 20px;
    color: #FFFF;
    transition: all 0.5s ease-in;
}

.news-content a:hover
{
    font-size:14px;
    border: 1Px solid #34495E;
    border-top-right-radius:20px;
    background-color: transparent;
    color: #34495E;
    margin-right:0;
    text-decoration: none;
}


/*Counter Stat Section Area*/
.counter-stat-area
{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,.0,0.8)), url(../image/cover-bg-1.jpg);
    background-position: center;
    padding-top:180px;
    padding-bottom:200px;
    color: #FFF;
    background-attachment:fixed;
    margin-top:100px;
}

.counter-stat-area i{
    font-size:80px;}

.stat-items h2
{
    font-weight:bolder;
    font-size:42px;
    color: #00BFFF;
}

.counter-stat-area p
{
    font-weight: bolder;
    letter-spacing:5px;
}


/*Contact Section Area*/
.contact-area {margin-top: 80px;}
.form-control
{
    border-radius: 0 !important;
    border:1px solid #34495E !important;
}

.contact-form button.btn
{
    font-size:1.8rem;
    font-weight:700;
    padding:12px 43px;
    border: 1px solid #000000;
    border-radius:  0;
}

.border-bottom-now
{
    width:40px;
    height:2px;
    background: #000000;
    margin:0 auto;
}

.contact-infos {
    float: left;
    width: 100%;
    margin-top:90px;
    margin-bottom:-30px;
    background: #008D8D;
    padding-top:35px;
    padding-bottom:35px;
}

.contact-infos .fa
{
    color:  #FFF;
    font-size: 26px;
    border: 1px solid #FFF;
    width:50px;
    height:50px;
    border-radius: 50%;
    line-height: 50px;
}

.contact-infos p
{
    color: #FFF;
    margin-top:15px;
}

/*MAP SECTION AREA*/
.maps-area
{
    margin-top:30px;
    width:100% !important;
}


/*FOOTER SECTION AREA*/

.footer_area
{
    background: url("../image/Black-Wood-Footer-Background.jpg");
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    padding-top:145px;
    background-attachment:fixed;
}

.social-icon_area a
{
    margin:0 16px 20px 16px
}


.footer_area .fa
{
    font-size:30px;
    color: deepskyblue;
    width:80px;
    height:80px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #FFF;
    line-height: 2;
    border:10px solid #34495E;
    text-align: center;
    transition: all 0.7s ease-in;
}

.footer_area .fab
{
    font-size:30px;
    color: deepskyblue;
    width:80px;
    height:80px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #FFF;
    line-height: 2;
    border:10px solid #34495E;
    text-align: center;
    transition: all 0.7s ease-in;
}

.social-icon_area a:hover .fa
{
    border: 10px solid #FFF;
    transform: rotate(360deg);
}

.social-icon_area a:hover .fab
{
    border: 10px solid #FFF;
    transform: rotate(360deg);
}

.border_line_now
{
    width:40px;
    border-bottom: 2px solid #FFFFFF;
    margin:0 auto;
    margin-top:20px;
}










































